<!DOCTYPE html>
<html lang="en" xmlns:m="http://www.w3.org/1998/Math/MathML">
<head>
    <meta name="viewport" content="width=device-width,   target-densitydpi=high-dpi, user-scalable=yes" charset="utf-8">
    <link rel="stylesheet" href="file:///android_asset/mathscribe/jqmath-0.4.3.css">
    <script src="file:///android_asset/mathscribe/jquery-1.4.3.min.js"></script>
    <script src="file:///android_asset/mathscribe/jqmath-etc-0.4.5.min.js" charset="utf-8"></script>
</head>
<body>
<h3>1. Odcinek</h3>
Długość odcinka o końcach w punktach $A=(x_A,y_A)$, $B=(x_B,y_B)$ jest dana wzorem:
<p>$$|AB|=√{{(x_A+x_B)^2}/2+{(y_A+y_B)^2}/2}$$</p>
Współrzędne środka odcinka AB:
<p>$({{x_A+x_B}/2,{y_A+y_B}/2}) $</p>
<div><center><img src="geo_analityczna1.png"></center></div>
<h3>2. Wektory</h3>
Współrzędne wektora $\ov {AB}$:
<p>$$\ov{AB}=[x_B-x_A,y_B-y_A] $$</p>
Jeżeli $u↖{→}=[u_1,u_2]$, $v↖{→}=[v_1,v_2]$, są wektorami, zaś a jest liczbą to:
<p>$$u↖{→}+v↖{→}=[u_1+v_1,u_2,v_2]$$ $$a·u↖{→}=[a·u_1,a·u_2] $$</p>
</body>
</html>