<!DOCTYPE html>
<html lang="en" xmlns:m="http://www.w3.org/1998/Math/MathML">

<head>
    <meta name="viewport" content="width=device-width,   target-densitydpi=high-dpi, user-scalable=yes" charset="utf-8">
    <link rel="stylesheet" href="file:///android_asset/mathscribe/jqmath-0.4.3.css">
    <script src="file:///android_asset/mathscribe/jquery-1.4.3.min.js"></script>
    <script src="file:///android_asset/mathscribe/jqmath-etc-0.4.5.min.js" charset="utf-8"></script>
</head>
<body>
<center>
<table style="font-weight:bold;">
    <tr>
        <th>siła</th>
        <th>$F_g=G{m_1m_2}/{r^2}$</th>
    </tr>
    <tr>
        <th>natężenie pola</th>
        <th>$γ↖{→}={F↖{→}_g}/m$</th>
    </tr>
    <tr>
        <th rowspan="2">energia</th>
        <td>$E_{pot}=-G{m_1m_2}/r$</td>
    </tr>
    <tr>
        <td>$E_{pot}=mgh$, dla h<<$R_Z$ </td>
    </tr>
    <tr>
        <th rowspan="2">prędkości kosmiczne dla Ziemi</th>
        <td>$υ_I= √{{GM_z}/R_z}≈7.9 {km}/s$</td>
    </tr>
    <tr>
        <td>$υ_{II}= √{{2GM_z}/R_z}≈11.2 {km}/s$</td>
    </tr>
</table>
</center>
</body>
</html>