<!DOCTYPE html>
<html lang="en" xmlns:m="http://www.w3.org/1998/Math/MathML">

<head>
    <meta name="viewport" content="width=device-width,   target-densitydpi=high-dpi, user-scalable=yes" charset="utf-8">
    <link rel="stylesheet" href="file:///android_asset/mathscribe/jqmath-0.4.3.css">
    <script src="file:///android_asset/mathscribe/jquery-1.4.3.min.js"></script>
    <script src="file:///android_asset/mathscribe/jqmath-etc-0.4.5.min.js" charset="utf-8"></script>
</head>
<body>
<h3>1. Średnia arytmetyczna</h3>
Średnia arytmetyczna $n$ liczb $a_1,a_2,...,a_n$ jest równa:
<p>$$ a↖{-} = {a_1+a_2+...+a_n}/n  $$</p>
<h3>2. Średnia ważona</h3>
Średnia ważona $n$ liczba $a_1,a_2,...,a_n$, którym przypisano dodatnie wagi - odpowiednio: $w_1,w_2,...,w_n$ jest równa:
<p>$$ {w_1·a_1+w_2+a_2+...+w_n·a_n}/{w_1+w_2+...+w_n} $$</p>
<h3>3. Średnia geometryczna</h3>
Średnia geometryczna $n$ nieujemnych liczb $a_1,a_2,...,a_n$ jest równa:
<p>$$ √^n{a_1·a_2·...·a_n} $$</p>
<h3>4. Mediana</h3>
Medianą uporządkowanego w kolejności niemalejącej zbioru $n$ danych liczbowych $ a_1≤a_2≤a_3≤...≤a_n $ jest:
<p>- dla $n$ nieparzystych: $a_{{n+1}/2}$ (środkowy wyraz ciągu)</p>
<p>- dla n parzystych: $1/2(a_{n/2}+a_{n/2+1})$ (średnia arytmetyczna środkowych wyrazów ciągu)</p>
<h3>5. Wariancja i odchylenie standardowe</h3>
Wariancją $n$ danych liczbowych $ a_1,a_2,...,a_n $ o średniej arytmetycznej $a↖{-}$ jest liczba:
$ σ^2={(a_1-a↖{-})^2+(a_2-a↖{-})^2+...+(a_n-a↖{-})^2}/n =$ ${a_1^2+a_2^2+...+a_n^2}/n-(a↖{-})^2$
<p>Odchylenie standardowe $σ$ jest pierwiastkiem kwadratowym z wariancji.</p>
</body>
</html>